<?xml version="1.0" encoding="UTF-8"?>  
<configuration scan="true" scanPeriod="60 seconds">  
	<!-- spring boot使用日志需要引入这个 -->
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->
    <!-- 控制台设置 -->  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>  
        </encoder>  
    </appender>  
    <!-- INFO -->  
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- 文件路径 ，注意LOG_PATH是默认值，
        	它的配置对应application.properties里的logging.path值-->  
        <file>${LOG_PATH}/info/info.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- 文件名称 -->  
            <fileNamePattern>${LOG_PATH}/info/info-%d{yyyy-MM-dd}.log  
            </fileNamePattern>  
            <!-- 文件最大保存历史数量 -->  
            <MaxHistory>30</MaxHistory>  
        </rollingPolicy>  
        <encoder>  
            <pattern>${FILE_LOG_PATTERN}</pattern>  
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>INFO</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter>  
    </appender>
    
    <!-- DEBUG -->  
    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- 文件路径 ，注意LOG_PATH是默认值，
        	它的配置对应application.properties里的logging.path值-->  
        <file>${LOG_PATH}/debug/debug.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- 文件名称 -->  
            <fileNamePattern>${LOG_PATH}/debug/debug-%d{yyyy-MM-dd}.log</fileNamePattern>  
            <!-- 文件最大保存历史数量 -->  
            <MaxHistory>30</MaxHistory>  
        </rollingPolicy>  
        <encoder>  
            <pattern>${FILE_LOG_PATTERN}</pattern>  
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>DEBUG</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter>  
    </appender> 
     <!-- WARN -->  
    <appender name="warnAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- 文件路径 ，注意LOG_PATH是默认值，
        	它的配置对应application.properties里的logging.path值-->   
        <file>${LOG_PATH}/warn/warn.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- 文件名称 -->  
            <fileNamePattern>${LOG_PATH}/warn/warn-%d{yyyy-MM-dd}.log  
            </fileNamePattern>  
            <!-- 文件最大保存历史数量 -->  
            <MaxHistory>30</MaxHistory>  
        </rollingPolicy>  
        <encoder>  
            <pattern>${FILE_LOG_PATTERN}</pattern>  
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>WARN</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter>  
    </appender> 
     
    <!-- ERROR -->  
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- 文件路径 ，注意LOG_PATH是默认值，
        	它的配置对应application.properties里的logging.path值-->  
        <file>${LOG_PATH}/error/error.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- 文件名称 -->  
            <fileNamePattern>${LOG_PATH}/error/error-%d{yyyy-MM-dd}.log  
            </fileNamePattern>  
            <!-- 文件最大保存历史数量 -->  
            <MaxHistory>30</MaxHistory>  
        </rollingPolicy>  
        <encoder>  
            <pattern>${FILE_LOG_PATTERN}</pattern>  
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter>  
    </appender>
      <logger name="org.springframework" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="errorAppender" />
    </logger>
 
 	<logger name="org.apache.zookeeper.ClientCnxn" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="errorAppender" />
    </logger>
  <logger name="org.apache.catalina" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="errorAppender" />
    </logger>
   
     <logger name="com.alibaba.dubbo.common" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="errorAppender" />
    </logger>
 	 <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" additivity="true">
         <level value="DEBUG" />  
    </logger>
    <logger name="java.sql.Connection" additivity="true">
        <level value="DEBUG"/>
    </logger>
    <logger name="java.sql.Statement" additivity="true">
        <level value="DEBUG" />
    </logger>
    <logger name="java.sql.PreparedStatement" additivity="true">
        <level value="DEBUG" />
    </logger> 
    <!-- 由于启动的时候，该包下打印debug级别日志很多 ，所以调到ERROR-->
    <logger name="org.apache.tomcat.util" additivity="false">
    	<level value="ERROR"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="errorAppender"/>
    </logger>
    <!-- 默认spring boot导入hibernate很多的依赖包，启动的时候，会有hibernate相关的内容，直接去除 -->
    <logger name="org.hibernate.validator" additivity="false">
    	<level value="ERROR"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="errorAppender"/>
    </logger>
    <!-- kafka日志打印去除 -->
  <!--   <logger name="kafka.producer"  additivity="false">
    	<level value="ERROR"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="errorAppender"/>
    </logger>  --> 
    <logger name="org.apache.ibatis" additivity="true">
        <level value="DEBUG" />
    </logger>
    <!-- 去除shiro日志打印 -->
    <logger name="org.apache.shiro" additivity="false">
    	level value="ERROR"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="errorAppender"/>
    </logger>
    <root level="DEBUG">
    	 <appender-ref ref="STDOUT"/>  
    	 <appender-ref ref="infoAppender"/>
    	 <appender-ref ref="debugAppender"/>
    	  <appender-ref ref="warnAppender"/>
    	 <appender-ref ref="errorAppender"/>
    </root> 
</configuration>  